<div id="header">
	<a href="/home/make"tabindex="-1"><button class="header-button">Make</button></a>
	<button class="header-button">History</button>
	<button class="header-button">Scores</button>
	<button class="header-button">Yours</button>
	<a href="/logout" tabindex="-1"><button class="header-button">Log out</button></a>
	<div id="header-search">
		<form><input value="Search" type="search"></input> <input id="search-submit" type="image" src="/images/search.png"></input></form>
		<a href="/home/search" tabindex="-1"><button>Advanced search</button></a>
	</div>
</div>