<nav id="header">
	<a title="Make questions!" class="header-link" href="/home/make" tabindex="-1"><span class="header-button">Make</span></a>
	<a title="Previously answered questions" class="header-link" href="/home/history/search" tabindex="-1"><span class="header-button">History</span></a>
	<a title="The leaderboard" class="header-link" href="/home/leaderboard/ranks" tabindex="-1"><span class="header-button">Scores</span></a>
	<a title="Your own questions" class="header-link" href="/home/yours/search" tabindex="-1"><span class="header-button">Yours</span></a>
	<a title="Log out" class="header-link" href="/logout" tabindex="-1"><span class="header-button">Log out</span></a>
	<div id="header-search">
		<form method="get" action="/home/search/all/0">
			<input placeholder="Search" type="search" name="question"></input>
			<input id="search-submit" type="submit" value=""></input>
		</form>
		<a href="/home/search" tabindex="-1"><button>Advanced search</button></a>
	</div>
</nav>