<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Search</title>
		<link rel="stylesheet" href="/stylesheets/header.css" />
		<link rel="stylesheet" href="/stylesheets/container.css" />
		<link rel="stylesheet" href="/stylesheets/form.css" />
		<link rel="stylesheet" href="/stylesheets/form-extra.css" />
		<link rel="stylesheet" href="/stylesheets/search-results.css" />
		<link rel="stylesheet" href="/stylesheets/link.css" />
		<script src="/javascripts/search-results.js"></script>
	</head>
	<body>
		<%- include("header") %>
		<div class="container">
			<div class="container-header">
				<h1>Search results</h1>
			</div>
			<div class="container-body">
				<br /><br />
				<% questions.forEach(function (question) { %>
					<p><a href= <%= "/home/answer?id=" + question._id %> data-hover= "<%= question.question %>" target="_blank"><%= question.question %></a></p><br />
				<% }) %>
				<button id="more" class="button">More</button>
			</div>
		</div>
	</body>
</html>