.container {
	margin: 40px auto;
	width: 90%;
}

.container h1 {
	font-weight: 100;
}

.container-body {
	text-align: center;
	padding: 20px 40px 60px 100px;
}

h2 {
	font-weight: 100;
}

h3 {
	font-weight: 100;
}

#vote-area {
	display: inline-block;
	position: relative;
}

button.vote {
	border: 0;
	margin: 0;
	font-size: 1.3em;
	background-color: transparent;
}

#upvote, #downvote {
	transition: color 0.15s 0.05s;
}

#upvote {
	color: #2020FF;
}

#downvote {
	color: #C02020;
}

#upvote:hover, #downvote:hover {
	cursor: pointer;
}

#upvote:hover {
	position: relative;
	top: -1px;
	color: #6060FF;
}

#downvote:hover {
	position: relative;
	top: 1px;
	color: #FF8080;
}

#upvote:active {
	top: -2px;
}

#downvote:active {
	top: 2px;	
}