.container-form textarea {
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	height: 80px;
	background-color: rgba(40, 40, 40, 0.3);
	color: #CCCCCC;
	transition: border 0.15s;
}

.container-form input {
	border-radius: 4px;
	padding: 3px;
	border: 1px solid #CCCCCC;
	background-color: rgba(40, 40, 40, 0.3);
	color: #CCCCCC;
	transition: border 0.15s;
}

.container-form select {
	border-radius: 4px;
	padding: 3px;
	border: 1px solid #CCCCCC;
	background-color: rgba(40, 40, 40, 0.3);
	color: #CCCCCC;
	transition: border: 0.15s;
}

.container-form option {
	background-color: transparent;
	color: black;
}

.container-form textarea:focus, .container-form input:focus, .container-form select:focus {
	border-color: #404080;
	outline: 0;
	box-shadow: none;
}

.container-form textarea:-moz-ui-invalid, .container-form input:-moz-ui-invalid, .container-form select:-moz-ui-invalid{
	outline: none;
	box-shadow: none;
	border-color: red;
}

button.button {
	display: block;
	margin: auto;
	background-color: rgba(40, 40, 40, 0.3);
	border: 1px solid #C04040;
	border-radius: 4px;
	padding: 5px;
	font-size: 0.95em;
	font-family: fantasy;
	color: #CCCCCC;
	transition: background-color 0.15s 0.05s;
}

button.button:hover {
	position: relative;
	top: 1px;
	cursor: pointer;
	background-color: rgba(0, 200, 0, 0.2);
	border: 1px solid rgba(200, 200, 0, 0.2);
}

button.button:active {
	position: relative;
	top: 2px;
	background-color: rgba(200, 0, 0, 0.2);
	transition: none;
}