#header {
	padding-left: 1%;
	height: 68px;
	text-align: center;
	width: 99%;
	background-color: rgba(30, 100, 255, 0.95);
	border-bottom: 1px solid rgba(40, 40, 40, 0.85);
}

.header-link {
	float: left;
	width: 15%;
	text-decoration: none;
	position: relative;
}

.header-link::before,
.header-link::after {
	position: absolute;
	width: 15%;
	height: 2px;
	//background-color: #606060;
	background-color: white;
	content: '';
	opacity: 0;
	transition: all 0.3s 0.05s;
	//pointer-events: none;
}

.header-link::before {
	top: 50%;
	left: 0;
	transform: rotate(90deg) translateY(-50%);
}

.header-link::after {
	right: 0;
	top: 50%;
	transform: rotate(90deg) translateY(-50%);
}

.header-link:hover::before,
.header-link:hover::after,
.header-link:active::before,
.header-link:active::after {
	opacity: 1;
	width: 50%;
}

.header-link:hover .header-button {
	position: relative;
	top: 1px;
	cursor: pointer;
	color: #F4A460;
}

.header-link:active .header-button {
	top: 2px;
}

.header-link:hover::before,
.header-link:active::before {
	left: 50%;
	top: 12px;
	transform: rotate(0deg) translateX(-50%) translateY(0%);
}

.header-link:hover::after,
.header-link:active::after {
	right: 50%;
	top: 56px;
	transform: rotate(0deg) translateX(50%) translateY(0%);
}

.header-button {
	display: block;
	line-height: 68px;
	width: 100%;
	color: white;
	font-family: Ubuntu;
	font-size: 1.3em;
	transition: all 0.3s 0.05s;
}

.header-button:focus {
	outline: none;
	box-shadow: none;
}

#header a:focus {
	outline: none;
}

#header-search {
	text-align: left;
	margin-left: 2%;
	margin-top: 12px;
	width: 20%;
	display: inline-block;
}

#header-search input[type="search"] {
	width: 75%;
	border: 0;
	border-radius: 3px;
	box-shadow: 1px 1px 2px grey inset;
	padding: 3px;
	color: #505050;
}

#search-submit {
	background-color: transparent;
	width: 20px;
	background-image: url(/images/search.png);
	background-size: 20px 20px;
	vertical-align: middle;
	display: inline-block;
	height: 20px;
	box-shadow: none;
	border: 0;
}

#search-submit:hover {
	position: relative;
	cursor: pointer;
	top: 1px;
}

#search-submit:active {
	position: relative;
	top: 1.5px;
}

#header-search button {
	width: 75%;
	float: left;
	background-color: transparent;
	border: 0;
	padding-top: 7px;
	color: #CCCCCC;
	font-family: Ubuntu;
	font-size: 0.73em;
	transition: background-color 0.25s 0.05s, color 0.25s 0.05s;
}

#header-search button:hover {
	cursor: pointer;
	color: #F4A460;
}

#header-search button:active {
	position: relative;
	top: 1px;
}