.container-body a {
	position: relative;
	color: #F4A460;
	font-style: none;
	text-decoration: none;
}

.container-body a:visited {
	color: #F08080;
}

.container-body a:hover {
	cursor: pointer;
	top: 1px;
}

.container-body a::before {
	position: absolute;
	white-space: nowrap;
	display: block;
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: white;
	content: attr(data-hover);
	transition: max-width 0.3s 0.05s;
}

.container-body a:hover::before {
	max-width: 100%
}